@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-primary: #2ac6e2;
    --bg-body: #F0F5F9;
    --txt-body: #1E2022;

    --dan1:  #1E2022;
    --dan2:  #2d343d;
    --dan3:  #F0F5F9;
    --dan4:  #788189;
    --dan5:  #e1e4e6;
    --dan6:  #F0F5F9;
    --dan7:  #C9D6DF;
    --dan8:  #bfc7d1;
    --dan9:  #1E2022;
    --dan10: #52616B;

    --font-main: 'Courier New', Courier, monospace;
    --font-secondary: "Encode Sans Condensed", sans-serif

}

html {
    background-color: var(--dan9);
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--txt-body);
}

.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main_container{
  justify-content: center;
  background-color: var(--dan2);
}

.section {
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.section_tittle {
    margin-bottom: 16px;
}

.btn {
  background-color: var(--dan3);
  border: none;
  cursor: pointer;
}

.header{
  background-color: var(--dan2);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 1px 0px 5px 1px var(--dan6);
  border-radius: 1px;
}

.title_container{
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.main_title{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.section_line {
  border-top: solid 1px var(--dan8);
  width: 65vw;
}

                      /* NAVIGATION */

.logo {
  width: 75px;
  display: flex;
}
.hash {
  color: rgb(66, 189, 103);
}
.nav_container {
  display: flex;
}
.nav_list {
  list-style: none;
  display: flex;
}
.nav_item {
  margin: 0 20px;
  font-family: var(--font-secondary);
}
.nav_link {
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    color: var(--dan3);
    transition: color .5s;
}
.nav_link:hover {
    color: lightskyblue;
}

                        /* HERO */
.hero {
    background-color: #222;
    background-image: linear-gradient(to bottom, #000000bb, #000000c6), url("/assets/img/roonz-nl-2xEQDxB0ss4-unsplash.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10rem;
    padding: 0px 4rem;
  }
  .hero_tittle {
    color: var(--primary);
    width: 100%;
  } 
  .hero_description {
    color: var(--dan10);
  }
  .hero_description span {
    font-size: 24px;
    color: var(--dan4);
  }
  .text {
    display: inline-block;
    position: relative;
    color: var(--dan6);
  }
  #typing {
    display: inline;
  }

  .hero_img{
    height: 500px;
  }

                        /* ABOUT */
.about_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;
  }
  
  .about_image {
    margin: 0 auto;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .about_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    transform: scale(1);
    transition: transform .5s;
  }
  
  .about_image:hover .about_img {
    transform: scale(1.2);
  }

/*------------------------- PROJECTS */

.section_title {
  color: var(--dan6);
  padding: 10px;
  
}
.section_description {
  color: var(--dan7);
  margin: 20px 0 40px 0;
}
.project_cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.card {
  border: 1px solid var(--dan8);
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.card_section_img {
  border-bottom: 1px solid var(--dan8);
  height: 350px;
}

.card_section_tech {
  border-bottom: 1px solid var(--dan8);
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.project_technology {
  color: var(--dan3);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.card_section_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
}
.project_title {
  font-size: 20px;
  color: var(--dan6);
}
.project_links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.project_links .bx {
  font-size: 24px;
  color: var(--dan3);
}




.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #8d8d8d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}
.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}
.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}
.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}
.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}
.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}
.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}
.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}
.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}
.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}
.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}
.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}
.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}
.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}
.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}
.under_construction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------- LEARNING */

.skills_container{
  display: flex;
  gap: 30px;
}
.col_section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table_skill{
  border: solid 1px var(--dan3);
  color: var(--dan7);
  width: 200px;
  overflow: hidden;
}
.table_skill h2{
  border-bottom: 1px solid var(--dan8);
  padding: 10px;
}
.table_skill span{
  display: flex;
  padding: 10px;
}

.icons_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;

}
.icon_f {
  margin: 0 15px;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: linear-gradient(top, #ffffff33 1px, #ffffff00 1px, #0000001a 100%);
  box-shadow: 0 60px 12px -18px rgba(0,0,0,0.1), 0 60px 20px -12px rgba(0,0,0,0.1);
  animation: floating 1s infinite ease-in-out alternate;
  -webkit-animation: floating 1s infinite ease-in-out alternate;
}
.icon_f.n1 {
  animation-delay: .5s;
}
.icon_f.n2 {
  animation-delay: .2s;
}
.icon_f.n3 {
  animation-delay: .8s;
}


                            /* ABOUT */

.about_info{ 
  color: var(--dan8);
}


/*------------------------------ BACKGROUND */

.bckgrnd {
  width: 450px;
  height: 130px;
  background-image: url('/assets/img/3.svg');
  background-repeat: repeat-x;
  background-size: 150px 150px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 150px;
  left: 0px;
  
  
}

/* ------------------------------- CONTACT */
.section_content{
  color: var(--dan5);
}
.contact_content{
  color: var(--dan6);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.social_networks {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.button_cntnr{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_links{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 16px;
  height: 150px;
  position: relative;
}
.contact_link {
  background-color: var(--dan9);
  height: 70px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--dan3);
  font-size: 25px;
  cursor: pointer;
  border: none;
}
.contact_link:hover{
  background-color: var(--dan10);
}
.status-message {
  color: var(--dan7);
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  bottom: 0px;
  text-align: center;

}
.status-message.hidden {
  opacity: 0;
}

.bn_hvr {
  border: 5em;
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, var(--dan8), var(--dan3));
  padding: 0.7em 2em;
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}
.bn_hvr .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, var(--dan8), var(--dan3));
}
.bn_hvr:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: var(--dan2);
}
.bn_hvr:hover {
  background-image: linear-gradient(-45deg, var(--dan8), var(--dan3));
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.bn_hvr:hover .text {
  background-image: linear-gradient(-45deg, var(--dan8), var(--dan3));
}

                            /* FOOTER */

.footer {
  background-color: var(--dan1);
  color: var(--dan7);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  text-align: center;
  padding: 10px 0;
}

/*--------------------------- KEYFRAMES */
@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floating {
  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2), 0 40px 16px -12px rgba(0,0,0,0.2);
  }
}

@keyframes blinking {
  0% {
    opacity: 0.25;
    background-color: rgba(121, 133, 124, 0.589);
  }

  50% {
    opacity: 0.5;
    background-color: var(--dan5);
  }

  75% {
    opacity: 0.75;
    background-color: var(--dan4);
  }

  100% {
    opacity: 1;
    background-color: var(--dan10);
  }
}


                            /* OFF-SET */

@media (max-width: 915px) {
    .nav_menu {
        position: fixed;
        width: 70%;
        background-color: var(--dan2);
        padding: 60px 30px;
    
        top: 51px;
        right: -100%;
        bottom: 0;
        transition: right .5s;
      }
    
      .show_menu {
        right: 0;
      }
    
      .nav_link {
        color: #fff;
      }
    
      .nav_list {
        flex-direction: column;
      }
}

@media (min-width: 522px) {
    .hero_name {
      font-size: 75px;
    }
  
    .hero_description {
      font-size: 32px;
    }
  }

  @media (min-width: 916px) {
    .section_tittle {
      font-size: 28px;
    }
  
    .btn_close {
      display: none;
    }
  
    .btn_open {
      display: none;
    }
  
    .about_content {
      flex-direction: row;
      align-items: center;
    }
  
    .about_info {
      width: 50%;
      font-size: 18px;
    }
  
    .about_image {
      width: 50%;
    }
  }

  @media (min-width: 1024px) {
    .section_tittle {
      font-size: 38px;
    }
  
    .hero_tittle {
      font-size: 50px;
    }
  
    .hero_name {
      font-size: 100px;
    }
  
    .hero_description {
      font-size: 42px;
    }
  
    .about_info {
      font-size: 24px;
    }
  
    .about_image {
      max-width: 375px;
      height: 375px;
    }
  }