@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-primary: #2ac6e2;
    --bg-body: #F0F5F9;
    --txt-body: #1E2022;

    --dan1:  #1E2022;
    --dan2:  #2d343d;
    --dan3:  #F0F5F9;
    --dan4:  #788189;
    --dan5:  #e1e4e6;
    --dan6:  #F0F5F9;
    --dan7:  #C9D6DF;
    --dan8:  #bfc7d1;
    --dan9:  #1E2022;
    --dan10: #52616B;

    --font-main: 'Courier New', Courier, monospace;
    --font-secondary: "Encode Sans Condensed", sans-serif

}

html {
  background-color: var(--dan9);
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: var(--font-main);
  color: var(--txt-body);
}

.img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main_container{
  justify-content: center;
  background-color: var(--dan2);
}

.section {
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.section_tittle {
    margin-bottom: 16px;
}

.btn {
  background-color: var(--dan3);
  border: none;
  cursor: pointer;
}

.header{
  background-color: var(--dan2);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 1px 0px 5px 1px var(--dan6);
  border-radius: 1px;

}

.title_container{
  display: flex;
  align-items: center;
  width: 250px;
  padding: 0 10px;
}
.main_title{
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

}
.section_line {
  border-top: solid 1px var(--dan8);
  width: 900px;
}

                      /* NAVIGATION */

.logo {
  width: 75px;
  display: flex;
}
.hash {
  color: #42bd67;
}
.nav_container {
  display: flex;
}
.nav_list {
  list-style: none;
  display: flex;
}
.nav_item {
  margin: 0 20px;
  font-family: var(--font-secondary);
}
.nav_link {
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    color: var(--dan3);
    transition: color .5s;
}
.nav_link:hover {
    color: lightskyblue;
}

                        /* HERO */
.hero {
    background-color: #222;
    background-image: linear-gradient(to bottom, #000000bb, #000000c6), url("/assets/img/roonz-nl-2xEQDxB0ss4-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .hero_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 7rem;
    position: relative;
  }
  .hero_text {
    width: 800px;
  }
  .hero_tittle {
    color: var(--primary);
    width: 100%;
  } 
  .hero_description {
    display: flex;
    flex-direction: column;
    width: 850px;
  }
  .small_desc {
    font-size: 24px;
    color: var(--dan4);
    margin-bottom: 0.2em;
  }
  .big_desc {
    font-size: 1rem;
    color: var(--dan7);
    margin-top: 1.4em;
  }
/*   .text {
    font-size: 24px;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  } */

  .typing::before {
    content: "Hi! I'm Alvaro.";
    color: var(--dan3);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--dan3); /* The cursor */
    display: inline-block;
    animation: typing 4s steps(20) infinite, blink-caret 0.75s step-end infinite;
    width: 0;
    box-sizing: border-box;
  }

  .btn_1 {
    padding: 10px 25px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    outline: none !important;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    width: 250px;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2em;
  }
  .btn_2{
    border: 2px solid var(--dan3);
    z-index: 1;
    color: var(--dan8);
  }
  .btn_2:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background-color: var(--dan3);
    transition: all 0.3s ease;
  }
  .btn_2:hover{
    color: var(--dan1);
  }
  .btn_2:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn_2:active {
    top: 2px;
  }

  .avatar_container {
    width: 100%;
    height: 100%;
    width: 650px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }
  .vector {
    position: absolute;
    filter: brightness(1) opacity(0.5);
  }
  .a{
    width: 200px;
    height: 200px;
    background-image: url('/assets/img/11.svg');
    background-size: 20px;
    background-repeat: repeat;
    bottom: 0%;
    left: 5%;
  }
  .b{
    width: 200px;
    height: 200px;
    background-image: url('/assets/img/11.svg');
    background-size: 20px;
    background-repeat: repeat;
    top: 8%;
    right: 5%;
  }
  .c{
    width: 200px;
    height: 200px;
    background-image: url('/assets/img/12.svg');
    background-size: 200px;
    transform: rotate(90deg);
    bottom: 7%;
    right: 5%;
  }
  .d{
    width: 200px;
    height: 160px;
    background-image: url('/assets/img/13.svg');
    background-size: 200px;
    transform: rotate(90deg);
    top: 5%;
    left: 0%;
  }
  .e{
    width: 650px;
    height: 130px;
    background-image: url('/assets/img/14.svg');
    background-size: 150px;
    background-repeat: repeat-x;
    transform: rotate(165deg);
    top: 45%;
    left: 0px;

  }
  .hero_img{
    position: relative;
    min-width: 300px;
    max-width: 450px;
    z-index: 1;
  }

                        /* ABOUT */
.about_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  
  .about_image {
    margin: 0 auto;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
  
  .about_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    transform: scale(1);
    transition: transform .5s;
  }
  
  .about_image:hover .about_img {
    transform: scale(1.2);
  }

/*------------------------- PROJECTS */

.section_title {
  color: var(--dan6);
  padding: 10px;
  
}
.section_description {
  color: var(--dan7);
  margin: 20px 0 40px 0;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.project_cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.card {
  border: 1px solid var(--dan8);
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.card_section_img {
  border-bottom: 1px solid var(--dan8);
  height: 350px;
}

.card_section_tech {
  border-bottom: 1px solid var(--dan8);
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.project_technology {
  color: var(--dan3);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.card_section_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
}
.project_title {
  font-size: 20px;
  color: var(--dan6);
}
.project_links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.project_links .bx {
  font-size: 24px;
  color: var(--dan3);
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #8d8d8d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}
.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}
.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}
.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}
.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}
.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}
.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}
.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}
.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}
.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}
.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}
.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}
.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}
.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}
.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}
.under_construction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------- LEARNING */

.skills_container{
  display: flex;
  gap: 30px;
}
.col_section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table_skill{
  border: solid 1px var(--dan3);
  color: var(--dan7);
  width: 200px;
  overflow: hidden;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.table_skill h2{
  border-bottom: 1px solid var(--dan8);
  padding: 10px;
}
.table_skill span{
  display: flex;
  padding: 10px;
}

.icons_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.icon_f {
  margin: 0 15px;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: linear-gradient(top, #ffffff33 1px, #ffffff00 1px, #0000001a 100%);
  box-shadow: 0 60px 12px -18px rgba(0,0,0,0.1), 0 60px 20px -12px rgba(0,0,0,0.1);
  animation: floating 1s infinite ease-in-out alternate;
  -webkit-animation: floating 1s infinite ease-in-out alternate;
}
.icon_f.n1 {
  animation-delay: .5s;
}
.icon_f.n2 {
  animation-delay: .2s;
}
.icon_f.n3 {
  animation-delay: .8s;
}


                            /* ABOUT */

.about_info{ 
  color: var(--dan8);
}


/*------------------------------ BACKGROUND */

.bckgrnd {
  width: 450px;
  height: 130px;
  background-image: url('/assets/img/3.svg');
  background-repeat: repeat-x;
  background-size: 150px 150px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 150px;
  left: 0px;
  
  
}

/* ------------------------------- CONTACT */
.section_content{
  color: var(--dan5);
}
.contact_content{
  color: var(--dan6);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.social_networks {
  display: flex;
  flex-direction: row;
  gap: 16px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.button_cntnr{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.contact_links{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 16px;
  height: 150px;
  position: relative;
}
.contact_link {
  background-color: var(--dan9);
  height: 70px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--dan3);
  font-size: 25px;
  cursor: pointer;
  border: none;
}
.contact_link:hover{
  background-color: var(--dan10);
}
.status-message {
  color: var(--dan7);
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  bottom: 0px;
  text-align: center;

}
.status-message.hidden {
  opacity: 0;
}

.bn_hvr {
  border: 5em;
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, var(--dan8), var(--dan3));
  padding: 0.7em 2em;
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}
.bn_hvr .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, var(--dan8), var(--dan3));
}
.bn_hvr:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: var(--dan2);
}
.bn_hvr:hover {
  background-image: linear-gradient(-45deg, var(--dan8), var(--dan3));
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.bn_hvr:hover .text {
  background-image: linear-gradient(-45deg, var(--dan8), var(--dan3));
}

                            /* FOOTER */

.footer {
  background-color: var(--dan1);
  color: var(--dan7);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  text-align: center;
  padding: 10px 0;
}

/*--------------------------- KEYFRAMES */
@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floating {
  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2), 0 40px 16px -12px rgba(0,0,0,0.2);
  }
}

@keyframes blinking {
  0% {
    opacity: 0.25;
    background-color: rgba(121, 133, 124, 0.589);
  }

  50% {
    opacity: 0.5;
    background-color: var(--dan5);
  }

  75% {
    opacity: 0.75;
    background-color: var(--dan4);
  }

  100% {
    opacity: 1;
    background-color: var(--dan10);
  }
}

@keyframes appear {
  from  {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes typing {
  0% { width: 0; }
  30% { width: 9.5em; }
  80% { width: 9.5em; }  
  100% { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--dan3); }
}

                            /* OFF-SET */

@media (max-width: 600px) { 
  
}
@media (min-width: 600px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1740px) {

}

/* @media (max-width: 1650px) {
  .hero {
    background-size: cover;
    padding: 55px;
    display: flex;
    justify-content: center;
  }
  .hero_content{
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 750px;
  }
  .hero_text {
    width: 900px;
  }
  .btn_1{
    margin-top: 0.5em;
  }
  .small_desc {
    font-size: 1em;
  }
  .big_desc{
    font-size: 0.8em;
    margin-top: 5px ;
  }
  .avatar_container {
    width: 100%;
    max-width: 450px; 
    height: 450px;
    margin: 0 225px;
  }
  .a { background-size: 15px; left: 65px; width: 150px; height: 150px;}
  .b { background-size: 15px; right: 70px; top: 20px; width: 150px; height: 150px;}
  .c { background-size: 150px; right: 55px; bottom: 40px; width: 150px; height: 150px;}
  .d { background-size: 140px; left: 20px; bottom: 0px; width: 140px; height: 140px;}
  .e { background-size: 0;}
  
  .hero_img {
    height: 350px;
    border-radius: 30%; 
  }
  section {
    flex-direction: column;
    justify-content: center;
  }

  .main_title, .section_description, .project_title {
    font-size: 0.8rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 430px;
  }
  .card_section_cont {
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    font-size: 0.8rem;
  }

  .about_content {
    font-size: 0.8rem;
  }

  .section_content, .section_description {
    font-size: 0.8rem;
  }
} */